<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
   <!-- <add key="nuget" value="https://api.nuget.org/v3/index.json" />-->
    <add key="Test" value="https://pkgs.dev.azure.com/GeoffNorton/_packaging/Test/nuget/v3/index.json" />
    <add key="CommonComponents" value="https://pkgs.dev.azure.com/GeoffNorton/3067f014-1514-497a-bbb7-8d21ce447050/_packaging/CommonComponents/nuget/v3/index.json" />
  </packageSources>
</configuration>
